.wd-kanbas-navigation {
  position: fixed;
  height: 100%;
    background-color: black;
    list-style: none;
    padding: 0px;  margin: 0px;
    width: 78px;
  }
  .wd-kanbas-navigation li {
    padding: 7px;     margin-bottom: 4px;
    font-size: 0.8em;  text-align: center;
  }
  .wd-kanbas-navigation li.wd-active {
    background-color: white;
    color: red;
  }
  .wd-kanbas-navigation li.wd-active a {
    color: red;
  }
  .wd-kanbas-navigation a {
    color: white;
    text-decoration: none;
  }
  .wd-kanbas-navigation a i {
    color: red;
    font-size: 2em;
    margin-bottom: 3px;
  }
  .wd-kanbas-navigation li.wd-account a {
    color: white;
    color: red;
  }
  
  .wd-kanbas-navigation li.wd-account i {
    color: white;
    border-radius: 100%;
    border-color: white;
  }
  .wd-kanbas-navigation li i.fa-question-circle {
    display: block;
  }

  .wd-kanbas-navigation li i.fa-envelope-open-text {
    display: block;
  }

  
  
  